@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
.report-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.report-hero h1 {
  font-weight: 800;
  color: #ffee93;
}

.hero {
  background-image: url(../images/hero-01.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 2px 20px rgba(68, 199, 255, 0.5);
          box-shadow: 0px 2px 20px rgba(68, 199, 255, 0.5);
}

.hero__title {
  font-size: 5em;
  font-weight: 800;
  color: #ffee93;
}

.report {
  background-image: url(../images/morewavedesign-03.png);
  background-size: contain;
}

.report__title {
  font-weight: 700;
  font-style: italic;
  color: #ffee93;
  text-shadow: #2c2c75 2px 2px 5px;
}

.report__biblios {
  background-image: url(../images/wavedesign-03.png);
  background-size: cover;
}

.report__paragraph, .report__list {
  color: white;
}

.report__subtitle {
  color: #44c7ff;
  font-weight: 700;
  margin-bottom: 0.75em;
}

.report__levers {
  margin: 1.5em 5em;
}

.report__levers--title {
  color: #f15959;
  font-weight: 600;
}

.report__gaps {
  margin: 1.5em 0;
}

.report__gaps--point {
  color: white;
  font-weight: 600;
  margin: 1.5em 0;
}

.report__gaps--subpoint {
  color: white;
  font-weight: 300;
  font-size: 0.8em;
}

.report__section {
  margin: 7em 0;
}

.report__subSection {
  margin: 4em 20em;
}

.report__citation {
  border-top: 0.75px solid white;
  border-bottom: 1px solid white;
  margin: 1.5em 20em;
}

.report__citation--para {
  color: white;
  font-size: 0.7em;
  margin: 1em 0;
}

.report__header {
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7em;
  margin-bottom: 2em;
}

.biblio-indent {
  text-indent: -2em;
  margin: 1em 2em;
}

@media screen and (max-width: 1280px) {
  .report__subSection {
    margin: 2em 7em;
  }
  .report__citation {
    margin: 1.5em 7em;
  }
  .report__header {
    margin: 0 7em;
  }
  .biblio-indent {
    margin: 1em 2em;
    overflow-wrap: break-word;
  }
  .hero__title {
    font-size: 3em;
  }
}

@media screen and (max-width: 720px) {
  .report__subSection {
    margin: 2em 3em;
  }
  .report__citation {
    margin: 1.5em 3em;
  }
  .report__header {
    margin: 0 3em;
  }
  .report__levers {
    margin: 1.5em 0em;
  }
}

* {
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.index {
  overflow-x: hidden;
}

.map {
  width: 70vw;
}

.map__head {
  width: 100%;
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 2px 20px #44c7ff;
          box-shadow: 0px 2px 20px #44c7ff;
}

.map__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background: #08163a !important;
  margin-right: 2em;
  margin-left: 2em;
}

.navbar {
  background-color: #00113c;
  color: white;
}

nav > a,
li > a {
  color: white;
}

h1 {
  color: white;
}

@media screen and (max-width: 720px) {
  .map {
    width: 90vw;
  }
}
/*# sourceMappingURL=app.css.map */